* {
  box-sizing: border-box;
}

@font-face { /* aller sur fontsquirrel pour convertir les fonts en woff et woff2*/
  font-family:"newcycle";
  src: url("../fonts/webfontkit-20181023-104004/newscycle-regular-webfont.woff2") format("woff2"), url("../fonts/webfontkit-20181023-104004/newscycle-regular-webfont.woff") format("woff"); 
  font-weight: normal;
  font-style: normal;
}

@font-face { /* re-faire la même manip pour le bold*/
  font-family:"newcycle";
  src: url("../fonts/webfontkit-20181023-104004/newscycle-bold-webfont.woff2") format("woff2"), url("../fonts/webfontkit-20181023-104004/newscycle-bold-webfont.woff") format("woff"); 
  font-weight: bold;
  font-style: normal;
}

body {
  background: url("../photo/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  padding-bottom: 30px;
}

h1 {
  font-size: 60px;
  text-align: center;
  font-family: "newcycle", Helvetica, sans-serif;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

nav {
  padding-top: 1.5em;

}

a {
  color: black;
  border-bottom: 3px solid none;
  text-decoration: none;
  font-family: "newcycle";
  font-size: 20px;
  transition: 0.3s;
}

a:hover {
  color: #FCF7FF;
  border-bottom: 3px solid #FCF7FF;
}

/* display mobil first */
ul { 
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 30px;
}

/* passage en desktop */
@media (min-width: 900px) {
  ul {
    flex-direction: row;
    justify-content: space-around;

  }
}

section {
  background-color: #878C8F;
  border-radius: 15px 15px 0px 0px;
  margin-top: 3em;
  margin-right: 3em;
  margin-left: 3em;
}

/* mobil first */
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5em;
  padding-top: 5em;
}

/* passage en desktop */
@media (min-width : 900px) {
  article {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

.legende {
  width: 50%;
  padding-top: 7%;
}

h2 {
  font-family:"newcycle";
  font-size: 30px;
  padding-bottom: 1em;
}


p {
  font-family:"newcycle";
  font-size: 18px;
  line-height: 20px;
}


img {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
  max-width: 80%;
}


footer {
  text-align: center;
  background-color: #878C8F;
  border-radius: 0px 0px 15px 15px;
  margin-right: 3em;
  margin-left: 3em;
  margin-bottom: 5em;
  padding-bottom: 5em;
}

